doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../style.css")
    body 
        //- NAVBAR-START
        nav 
            div.navbar-logo 
                img(src="https://hallown.vercel.app/assets/img/logo.png", alt="img")
                h4 Halloween
            div.navbar-list 
                ul 
                    li 
                        a(href="") Home
                    li 
                        a(href="") About
                    li 
                        a(href="") Candy
                    li 
                        a(href="") New
            div.navbar-btn
                button Support