body {
  background-color: #5c824a;
  padding: 20px 300px;
}

nav {
  display: flex;
  font-family: sans-serif;
  align-items: center;

  div {
    display: flex;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
      }
    }
  }
  .navbar-logo {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 25px;
      width: 25px;
    }
  }

  .navbar-list {
    margin-left: 300px;
    ul {
      li {
        a {
          font-weight: 500;
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }

  .navbar-btn {
    margin-left: 50px;

    button {
      border-radius: 50px;
      padding: 15px 40px;
      color: #fff;
      font-size: 19px;
      border: solid 2px #fff;
      background-color: #5c824a;
    }
  }
}
