body {
  background-color: #5c824a;
}

nav {
  padding: 20px 0px;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;

  div {
    display: flex;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
      }
    }
  }
  .navbar-logo {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}
